* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.1px;
  font-size: 13px;
}

body {
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background: #F9FAFC;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.wrapper .sidebar {
  background: #294066;
  position: fixed;
  top: 0;
  left: 0;
  width: 180px; /* Updated width to 150px */
  height: 100%;
  padding: 20px 0;
  transition: all 0.3s ease;
}


.wrapper .sidebar .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
}

.wrapper .sidebar .dropdown:hover>.dropdown-menu {
  display: block;
}

.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.wrapper .sidebar .profile h3 {
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
  color: rgb(206, 240, 253);
  font-size: 13px;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 13px;
  position: relative;
}

.wrapper .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  color: #152238;

  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
  color: #152238;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

.wrapper .section {
  width: calc(100% - 180px);
  margin-left: 180px;
  transition: all 0.3s ease;
  padding-top: 0; /* Add this line to remove the top padding */
}


.wrapper .section .top_navbar {
  background: #152238;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-image: url("../img/flower.png");
}

.wrapper .section .top_navbar .hamburger a {
  font-size: 13px;
  margin-right: auto;
  color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover {
  color: #a2ecff;
}

body.active .wrapper .sidebar {
  left: -180px;
}

body.active .wrapper .section {
  margin-left: 0;
  width: 100%;
}


.nav__links {
  list-style: none;
}

.nav__links li {

  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  color: white;

}

.nav__links li a:hover {
  color: #0088a9;
}

.announcement-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.announcement-list h2 {
  order: -1;
  margin-right: auto;
  margin-left: 20px;
  word-wrap: break-word;
}

.announcement-item {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  transition: all 0.3s ease;
  text-align: left;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.announcement-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.announcement-item strong {
  font-size: 1.2em;
}

.announcement-item em {
  font-style: italic;
  color: #666;
}


.container {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  text-align: left;
}

.container img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.header-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  order: -1;
  margin-right: auto;
  min-width: 100%; /* Change the min-width to 100% */
}


.header-container-club {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  order: -1;
  margin-right: auto;
  min-width: 100%; /* Change the min-width to 100% */
}


h1 {
  color: #333333;
  line-height: 26px;
  font-size: 24px;
  font-weight:500;
  text-transform: uppercase;
  margin-bottom: 1px;
  word-break: break-all;
}

h1 a {
  background-color: yellow;
  text-transform: none;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-left: auto;
}

h1 a:hover {
  background-color: #ffc107;
}

h2 {
  color: #333333;
  line-height: 15px;
  font-size: 13px;
  font-weight:400;
}

b {
  color: #333333;
  line-height: 15px;
  font-size: 13px;
  font-weight:700;
}
.slider {
  position: relative;
  width: 100%;
  height: 300px; /* Adjust the height to your desired value */
  overflow: hidden;
}

.slider-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slide-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slider-item:hover .slide-info {
  opacity: 1;
}
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.image-box-container{
  max-width: 95%; /* Set the desired maximum width for the slideshow */
  margin: 0 auto;

}
.image-box {
  border:  1px solid #ccc;
  text-align: center;
  height: 30%; /* Specify a fixed height */
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.image-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.image-box img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 4px;
  object-fit: contain;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
}

.modal-content img {
  width: 100%;
  height: auto;
}

.desc {
  text-align: center;
  margin-top: 5px;
}

.see-more-btn {
  margin-top: 20px;
  min-width: 70px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #008D4C;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
  text-align: center; 
}

.hidden-slideshow {
  display: none;
}


.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}

#selected-files {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.selected-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%; /* Set the width to 30px */
}

.selected-image {
  max-width: 100%; /* Set the max-width to 100% */
  height: auto;
}

.selected-file p {
  margin-top: 5px;
  text-align: center;
  word-break:break-all;
}

#selected-files-logo, #selected-files-chart {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.selected-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%; /* Set the width to 30px */
}

.selected-image-logo, .selected-image-chart {
  max-width: 100%; /* Set the max-width to 100% */
  height: auto;
}

.selected-file p {
  margin-top: 5px;
  text-align: center;
  word-break: break-all;
}

@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 13px
  }
}

.dashboard-container {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
 width: 100%;
 padding-left: 20px;
 padding-right: 20px;
}

.dashboard-module {
  display: inline-block;
  width: 30%;
  margin: 0 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  color: #000;
}

.dashboard-module:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.dashboard-module:last-child {
  margin-right: 0;
}

.dashboard-module.approved {
  background-color: green;
  color: #fff;
}

.dashboard-module.rejected {
  background-color: red;
  color: #fff;
}

.dashboard-module h1,
.dashboard-module h2,
.dashboard-module p {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  color: inherit;
}

.dashboard-module a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.dashboard-module i {
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
}

.dashboard-module .arrow {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

.dashboard-module .arrow i {
  margin-left: 5px;
}

@media (max-width: 480px) {
  .dashboard-module {
    width: 80%;
  }
  
  .dashboard-module h1,
  .dashboard-module h2,
  .dashboard-module p {
    font-size: 13px;
  }
  
  .dashboard-module i {
    font-size: 16px;
  }
}

/* Form container */
.form-container {
  background-color: #f2f2f2;
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.input-row label {
  width: 10%;
  margin-right: 30px;
  text-transform: none;
 
}



/* Labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Input fields */
.input-field {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 1px solid #ddd;
  padding: 5px;
  width: 95%;
  border-radius: 2px;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Select fields */
select {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 1px solid #ddd;
  padding: 5px;
  width: 95%;
  border-radius: 2px;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='8'><path d='M13.4 1.4l-6 6c-.4.4-1 .4-1.4 0l-6-6C.1 1-.1.5.1.2c.2-.3.7-.5 1.1-.3L7 5.8 12.8.2c.4-.4 1-.4 1.4 0s.4 1 0 1.4z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-color: #ffffff;
}


/* Submit button */
.btn-submit {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-width: 70px;
  padding: 5px;
  border-radius: 5px;
  background-color: #008D4C;
  border: none;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
  /* Add this line */
}
.btn-submit-table {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-width: 70px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #008D4C;
  box-shadow: none;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
  text-align: center; /* Add this line */
}
.btn-delete {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-width: 70px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #008D4C;
  border-color: #008D4C;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.btn-delete-table {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-width: 70px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #008D4C;
  border-color: #008D4C;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  text-align: center; /* Add this line */
}

.btn-submit:hover {
  transform: translateY(-1px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.btn-delete:hover {
  transform: translateY(-1px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.approve-btn, .reject-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  padding: 0;
  margin-right: 10px;
}

.approve-btn i, .reject-btn i {
  margin-right: 5px;
}

.approve-btn:hover, .reject-btn:hover {
  color: #000;
}

.approve-btn:focus, .reject-btn:focus {
  outline: none;
}

.approve-btn {
  color: #00c853;
}

.reject-btn {
  color: #f44336;
}

/* Info messages */
.info {
  color: #777;
  font-size: 13px;
  margin-left: 5px;
}

/* Success message */
.successMessage {
  color: #4CAF50;
  font-weight: bold;
}

/* Error message */
.errorMessage {
  color: #F44336;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
}

th,
td {
  text-align: center;
  padding: 8px;
}

th {
  background-color: #333;
  color: #fff;
  text-transform: none;
  line-height: 18px;
  font-size: 13px;
  font-weight:700;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


tr:hover {
  background-color: #ddd;
}

td {
  border-bottom: 1px solid #ddd;
}
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: #f4f4f4;
  padding: 5px;
  border-radius: 4px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #555;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: transparent;
  color: #999;
  font-size: 13px;
  padding: 4px;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  color: #333333;
}

.form-control {
  width: 100%;
  resize: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 13px;
  padding: 10px;
}

#description::placeholder,
#message::placeholder {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 13px;
  font-style: italic;
  color: #999;
}


.blue-box {
  background-color: rgb(0, 153, 173);
  color: white;
  padding: 10px;
  width: 100%;
  text-align: left;
}

.media-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.media-box {
  width: 30%;
  margin: 10px;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.media-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.media-box img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.media-box video {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.media-box p {
  margin: 10;
  padding: 10px;
  font-size: 12px;
  line-height: 1.5;
  text-align: justify;
}

.media-box span {
  display: block;
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
}


#dropzone {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 0;
  display: inline-block;
  width: 100%;
}

.file-input {
  display: none;
}

.file-label {
  font-size: 10px;
  display: inline-block;
  padding: 8px 12px;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
}

.file-label:hover {
  background-color: #e5e5e5;
}

.file-input:focus + .file-label {
  outline: 2px solid #0088a9;
}

.file-input:valid + .file-label {
  background-color: #4caf50;
  color: #fff;
}

.file-input:valid + .file-label:hover {
  background-color: #45a049;
}

#dropzone p {
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 10px;
}

#dropzone.dragover {
  border-color: #000;
}


.image-preview img {
  max-width: 290px;
  max-height: auto;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-right: 10px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%; /* Adjust this value as needed */
}

.search-input {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  flex: 1;
  max-width: 200px;
}

.search-button {
  padding: 4px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.search-button:hover {
  background-color: #333;
}

.reload-link {
  margin-left: 10px;
  color: #333;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s;
  font-size: 13px;
}

.reload-link i {
  margin-right: 5px;
}

.reload-link:hover {
  color: #000;
}

 
.tooltip {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
  line-height: 15px;
  cursor: help;
  margin-left: 6px;
  font-size: 10px;
}

.tooltip:before {
  content: '';
  position: absolute;
  top: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%);
  border: 6px solid transparent;
  border-top-color: #ccc;
}

.tooltip:hover:before {
  display: block;
}

.tooltip:hover:after {
  content: "Recommend use uppercase, lowercase, symbol and numbers for more secure!";
  display: block;
  position: absolute;
  top: calc(100% + 12px);
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}